<section class="cc-carousel merriweather bg-black text-light text-center py-5">
	<div class="container">
	  <footer>
		<div class="footer-content">
			<h3>Avenir-Mada</h3>
			<p>Votre information personnel sera bien garder en toute securité, ne vous enquièttez pas!</p>
			<ul class="socials">
				<li><a href="#"><i class="fas fa-user"></i></a></li>
				<li><a href="#"><i class="fas fa-at"></i></a></li>
				<li><a href="#"><i class="fas fa-phone"></i></a></li>
				<li><a href="#"><i class="fas fa-home"></i></a></li>
			</ul>
		</div>
		<div class="footer-bottom">
			<p>copyright &copy; <a href="#">Developpeur proffessionel</a>  </p>
			<div class="footer-menu">
			  <ul class="f-menu">
				<li> Location-Rapide </li>
			  </ul>
			</div>
		</div>
  
	</footer>
	</div>  
  </section>