
<div class="row">
    <div class="modal-header bg-orange">
      <h5 class="modal-title" id="exampleModalLabel">Information de l'agence <strong>{{agen.nom_agence}}</strong></h5>
      <hr>
    </div>
    <div class="col-md-6">
      <h1>Nom de l'agence: <small>{{agen.nom_agence}}</small></h1>
      <h1>Adresse: <small>{{agen.adresse_agence}}</small></h1>
      <h1>Contact: <small>0{{agen.tel_agence}}</small></h1>
      <h1>Adresse email: <small>{{agen.email_agence}}</small></h1>
    </div>

    <small style="text-align: center;">Merci pour votre confience!</small>
  </div>
  