{% extends "base/base.html" %}
{% block title %} TESTE {% endblock title%}
{% load static %}
{% block content %}
    

<form>
    <input required placeholder=First name name=given-name autocomplete=given-name>
    <input type=submit>
</form>
<form hidden>
    <input required placeholder=Last name name=family-name autocomplete=family-name>
    <input type=submit>
</form>
<script>
    globalThis.onsubmit = evt => {
    evt.preventDefault()
    const submittedForm = new FormData(evt.srcElement)
    console.log([...submittedForm])
    evt.srcElement.hidden = true
    evt.srcElement.nextElementSibling.hidden = false
  }
</script>
{% endblock %}