        /*bootstrap VS:5*/
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&display=swap');

        *{
         font-family: 'Montserrat', sans-serif;
        }
    
         .redressed {
            font-family: Arial, Helvetica, sans-serif, cursive ;
         }
    
         .merriweather {
            font-family: Arial, Helvetica, sans-serif, serif;
         }
    
         .cc-navbar {
             background-color: rgba(0, 0, 0, 0.55);
             font-family: Arial, Helvetica, sans-serif;
             box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
             z-index: 99;
         }
    
         .cc-navbar .nav-link {
             border-bottom: 1px solid transparent;
             transition: padding-bottom .4s ease-in-out, border-color .3s ease;
         }
    
         .cc-navbar .nav-link:hover{
            padding-bottom: 20px;
            border-bottom-color: var(--bs-teal);
         }
    
         .banner,
         .order-form {
            background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../static/images/fond3_fin.jpg') center center fixed no-repeat;
            background-size: cover;
            height: 800px;
         }
    
         .order-form {
           height: 500px;
         }
    
         .banner .banner-desc {
            font-size: 48px;
            font-weight: 400;
            color: #fff;
         }
    
         .cc-menu {
           background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../static/images/fond3_fin.jpg') center center fixed no-repeat;
           background-size: cover;
           height: 1200px;
         }
    
         .btn-order {
            color: var(--bs-teal);
            border-color: var(--bs-teal);
            transition: 0.5s;
         }
         .btn-order:hover,
         .btn-order:active {
             color: #fff;
             background-color: var(--bs-teal);
         }
    
         /* style footer */
    .footer-content{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       text-align: center;
    }
    .footer-content h3{
       font-size: 2.1rem;
       font-weight: 500;
       text-transform: capitalize;
       line-height: 3rem;
    }
    .footer-content p{
       max-width: 500px;
       margin: 10px auto;
       line-height: 28px;
       font-size: 14px;
       color: #cacdd2;
    }
    .socials{
       list-style: none;
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 1rem 0 3rem 0;
    }
    .socials li{
       margin: 0 10px;
    }
    .socials a{
       text-decoration: none;
       color: #fff;
       border: 1.1px solid white;
       padding: 5px;
    
       border-radius: 50%;
    
    }
    .socials a i{
       font-size: 1.1rem;
       width: 20px;
    
    
       transition: color .4s ease;
    
    }
    .socials a:hover i{
       color: aqua;
    }
    
    .footer-bottom{
       text-align: center;
    }
    
    .footer-bottom p{
         float: left;
         font-size: 14px;
         word-spacing: 2px;
         text-transform: capitalize;
    }
    .footer-bottom p a{
     color:#44bae8;
     font-size: 16px;
     text-decoration: none;
    }
    .footer-bottom span{
       text-transform: uppercase;
       opacity: .4;
       font-weight: 200;
    }
    .footer-menu{
     float: right;
    
    }
    .footer-menu ul{
     display: flex;
    }
    .footer-menu ul li{
    padding-right: 10px;
    display: block;
    }
    .footer-menu ul li a{
     color: #cfd2d6;
     text-decoration: none;
    }
    .footer-menu ul li a:hover{
     color: #27bcda;
    }
    
    @media (max-width:500px) {
    .footer-menu ul{
     display: flex;
     margin-top: 10px;
     margin-bottom: 20px;
    }
    }