{% extends "base/base.html" %}
{% block title %} Préparation de paiement {% endblock title%}
{% load static %}
{% block content %}
<style>
    /*bootstrap VS:5*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&display=swap');

*{
font-family: 'Montserrat', sans-serif;
}

.redressed {
font-family: Arial, Helvetica, sans-serif, cursive ;
}

.merriweather {
font-family: Arial, Helvetica, sans-serif, serif;
}

.cc-navbar {
background-color: rgba(0, 0, 0, 0.975);
font-family: Arial, Helvetica, sans-serif;
box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
z-index: 99;
}

.cc-navbar .nav-link {
border-bottom: 1px solid transparent;
transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover{
padding-bottom: 20px;
border-bottom-color: var(--bs-teal);
}




.btn-order {
color: rgb(11, 10, 10);
border-color: rgb(16, 13, 12);
transition: 0.5s;
}
.btn-order:hover,
.btn-order:active {
color: #fff;
background-color: rgb(244, 79, 19);
}

body{
         font-family: 'Poppin', sans-serif;
         background-image: url('../../static/images/vt1.webp');
         background-repeat: no-repeat;
         background-size: 100%;
         background-attachment: fixed;
 }
</style>

<div class="container-fuild mt-4">
    <div class="row">
      <div class="col-md-10 offset-md-1">
         <div class="card" style="border-color: blue;">
            <div class="card-header text-black text-center " style="background-color: rgb(254, 252, 252);">
               <div class="col-mb-6">
               </div>
               <div class="col-mb-6">
                <img style="height: 3rem; margin-left: -70rem;" src="../../static/images/orange.png" alt="">
               </div> 
               
            </div>
            <div class="card-body" style="background-color: #ffffff;">
               <form action="" method="POST" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                  <h1>Paiement vers</h1>  
                  <div class="row">
                    
                    <div class="col-md-6 mt-2">
                        <label for="nom_client">Nom client</label>
                           <select class="form-control" name="" id="nom_client">
                               <option value="" selected disabled>Choisir votre nom....</option>
                               {% for client in nom_client %}
                               <option value="{{ client.id }}">{{ client.nom_Client }}</option>
                               {% endfor %}
                           </select>
                     </div>

                     <div class="col-md-6 mt-2">
                        <label for="num_loc">Numero location</label>
                           <select class="form-control" name="id_loc" id="num_loc">
                               <option value="" selected disabled>Votre numero de location</option>
                               {% for loc in num_loc %}
                               <option value="{{ loc.id }}">{{ loc.id }}</option>
                               {% endfor %}
                           </select>
                     </div>
                     
                     <div class="col-md-6">
                        <label for="immat_v"></label>
                           <select class="form-control" name="" id="immat_v">
                               <option value="" selected disabled>Type de vehicule</option>
                               {% for num_Vehi in num_Vehi %}
                               <option value="{{ num_Vehi.id }}">{{ num_Vehi.type_vehicule }}</option>
                               {% endfor %}
                           </select>
                     </div>

                    <div class="col-md-6">
                        <label for="mont"></label>
                        <input type="number" class="form-control bg-white" step="0.1" min="1000" name="total" placeholder="Montants" id="mont" readonly>    
                    </div>

                     <div class="col-md-6 mt-2">
                        <label for="nom_loueur">Nom loueur</label>
                           <select class="form-control" name="loueurUser" id="nom_loueur">
                               <option value="" selected disabled>Choisir nom loueur corespondant à votre agence</option>
                               {% for clientLoueur in nom_louer %}
                               <option value="{{ clientLoueur.id }}">{{ clientLoueur.user }}</option>
                               {% endfor %}
                           </select>
                     </div>
                     
                     <div class="col-md-6 mt-2">
                         <label for="date_pay">Date de paiement</label>
                         <input type="date" class="form-control" placeholder="Date de paiement" name="date_pay" id="date_pay" required="">
                         <span id="available"></span>  
                     </div>

                     <div class="md-3">
                           <select class="form-control" name="" id="prix_v" hidden>
                               <option value="" selected disabled>Prix de véhicure</option>
                               {% for montant_prix in montant_prix %}
                               <option value="{{ montant_prix.id }}">{{ montant_prix.prixJ }}</option>
                               {% endfor %}
                           </select>
                     </div>
                     
                     <div class="modal-footer">
                        <a class="btn btn-order btn-lg me-5 rounded-0 merriweather"  href="{% url 'a_inscription' %}">Quitter</a>
                         &nbsp;&nbsp;
                        <input type="submit" id="btn" name="" value="Envoyer" class="btn btn-order btn-lg me-5 rounded-0 merriweather" style="width: 100px; border-radius: 10px;">
                         &nbsp;&nbsp;
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <br><br>
      </div>
    </div>
 </div>

 <script>
    $(document).ready(function(){
 
    var nom_client = $("#nom_client");
    var num_loc = $("#num_loc");
    var $options = num_loc.find('option');
    nom_client.on('change',function(){
        num_loc.html($options.filter('[value="'+ this.value  +'"]'));
    }).trigger('change'); 
 
    }); 

    $(document).ready(function(){
    var immatri = $("#immat_v");
    var prix_v = $("#prix_v");
    var texte = $('#mont');
    var $options = prix_v.find('option');
    immatri.on('change',function(){
        prix_v.html($options.filter('[value="'+ this.value  +'"]'));
        texte.val(prix_v.children("option:selected").text())
    }).trigger('change');
});
 </script>
{% endblock %}