<nav class="navbar navbar-expand-lg fixed-top ">
	<a class="navbar-brand" href="">Location</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse " id="navbarSupportedContent">
	  <ul class="navbar-nav mr-4">
		<li class="nav-item">
		  <a class="nav-link" data-value="" href="#">Acceuil</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" data-value="" href="#apropos">A propos</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link " data-value="" href="#blog">Blog</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link " data-value="" href="#temoin"> Témoingnage</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link " data-value="" href="{% url 'contact' %}">Contact</a>
		</li>
	  </ul>
	  
	</div>
</nav>