{% extends "client/loueur/layouts/base.html" %}
{% load static %}
{% block title %} Compte principale de {{user.first_name}} {% endblock title%}

{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<style>
    /*bootstrap VS:5*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&display=swap');


/* style formulaire */

.page{
        display: none;
      }

      .card-header{
        display: flex;
        justify-content: space-between;
      }
      .page-num{
        border: 1px solid blue;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 10px;
      }
      .active{
        color: white;
        background-color: blue;
      }
/* fin style formulaire*/

body{
    background-color: #272727;
}

.progresse{
    color: white;
}

*{
font-family: 'Montserrat', sans-serif;
}

.redressed {
font-family: Arial, Helvetica, sans-serif, cursive ;
}

.merriweather {
font-family: Arial, Helvetica, sans-serif, serif;
}

.cc-navbar {
background-color: rgba(0, 0, 0, 0.55);
font-family: Arial, Helvetica, sans-serif;
box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
z-index: 99;
}

.cc-navbar .nav-link {
border-bottom: 1px solid transparent;
transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover{
padding-bottom: 20px;
border-bottom-color: var(--bs-teal);
}

.banner,
.order-form {
background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../static/images/fond.jpg') center center fixed no-repeat;
background-size: cover;
height: 800px;
}

.order-form {
height: 500px;
}

.banner .banner-desc {
font-size: 48px;
font-weight: 400;
color: #fff;
}

.cc-menu {
background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../static/images/fond3_fin.jpg') center center fixed no-repeat;
background-size: cover;
height: 1200px;
}

.btn-order {
color: var(--bs-teal);
border-color: var(--bs-teal);
transition: 0.5s;
}
.btn-order:hover,
.btn-order:active {
color: #fff;
background-color: var(--bs-teal);
}

/* style footer */
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content h3{
font-size: 2.1rem;
font-weight: 500;
text-transform: capitalize;
line-height: 3rem;
}
.footer-content p{
max-width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 14px;
color: #cacdd2;
}
.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 0 3rem 0;
}
.socials li{
margin: 0 10px;
}
.socials a{
text-decoration: none;
color: #fff;
border: 1.1px solid white;
padding: 5px;

border-radius: 50%;

}
.socials a i{
font-size: 1.1rem;
width: 20px;


transition: color .4s ease;

}
.socials a:hover i{
color: aqua;
}

.footer-bottom{
text-align: center;
}

.footer-bottom p{
float: left;
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
text-transform: uppercase;
opacity: .4;
font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}
</style>

{% include 'client/loueur/includes/sidenav.html' %}


<div class="main-content" id="panel">
    {% include "client/loueur/includes/navigation.html" %}

    <div class="container-fuild" style="margin-top: 30px;">
        <div class="row">
          <div class="col-md-10 offset-md-1">
             <div class="card" style="border-color: blue;">
                <div class="card-header" style="background-color: rgb(186, 182, 182);">
    
                 </div>
                 <div class="card-body" style="background-color: white;">
                    <form action="" method="POST" url="/upload-picture" enctype="multipart/form-data" role="form">
                        {% csrf_token %}

                        <div class="page" id="page1">
                            <div class="row">
                                    
                                    <div class="col-md-6" id="selectedBanner">
                                        <div class="text-align: center;">
                                          <img id="img-upload">
                                          <div >
                                              <img src="{% static 'images/carImage.jpg' %}" id="image" alt="" style="width: 25rem; height: 10rem;margin-right: 4rem;cursor: pointer;
                                              display: block;">
                                          </div>
                                          <br><br>
                                          <div class="input-group">
                                              <span class="input-group-btn">
                                                <span class="btn btn-info btn-file">
                                                    Choisir un véhicule <input type="file" id="img" name="images" onchange="previewPicture(this)" required>
                                                </span>
                                              </span>
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-6" id="selectedBanner">
                                        <div class="text-align: center;">
                                          <img id="img-upload">
                                          <div >
                                              <img src="{% static 'images/log1.png' %}" id="image" alt="" style="width: 20rem; height: 17rem;margin-right: 4rem;cursor: pointer;
                                              display: block;">
                                          </div>
                                        </div> 
                                    </div>

                              </div>
                              <br>
                              <a class="btn btn-success" style="border-radius: 30px;" href="{% url 'home_loueur' %}">Fermer</a>
                              <button class="next btn-primary" style="height: 40px; width: 100px; text-align: center; border-radius: 30px;" type="button">Suivant</button>
                        </div>

                        <div class="page" id="page2">
                            <div class="row">
        
                                <div class="col-md-6">
                                    <label for="type_vehic">Type de vehicule</label>
                                    <select class="form-control" name="type_vehicule" id="type_vehic">
                                        <option value="">Choisir un type de vehicule</option>
                                        <option value="Coupés">Les véhicules coupés</option>
                                        <option value="Berlines">Les voitures berlines</option>
                                        <option value="Hayons">Les véhicules hayons</option>
                                        <option value="Type break">Les voitures de type break</option>
                                        <option value="Type pick-up">Les voitures de type pick-up</option>
                                        <option value="Crossovers">Les crossovers</option>
                                        <option value="Type SUV">Les véhicules de type SUV</option>
                                    </select>
                                </div>
                            
                                <div class="col-md-6">
                                      <label for="marque_vehic">Marque de vehicule</label>
                                        <select class="form-control" name="marque_vehicule" id="marque_vehic">
                                            <option value="">Choisir un marque de vehicule</option>
                                            <option value="Alfa Romeo">Alfa Romeo</option>
                                            <option value="Alpine">Alpine</option>
                                            <option value="BMW">BMW</option>
                                            <option value="Chevrolet">Chevrolet</option>
                                            <option value="DS">DS</option>
                                            <option value="Fiat">Fiat</option>
                                            <option value="Infiniti">Infiniti</option>
                                            <option value="Jaguar">Jaguar</option>
                                        </select>
                                </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="recipient-immat" class="col-form-label">Numéro Immatricule:</label>
                                          <input type="text" class="form-control" name="numImm" id="recipient-immat">
                                        </div>
                                    </div>
        
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="recipient-numSerie" class="col-form-label">Numéro de Série:</label>
                                        <input type="text" class="form-control" onkeypress="return onlyNumberKey(event)"  maxlength="13" name="numSerie" id="recipient-numSerie">
                                      </div>
                                    </div>

                                    
                            </div>
                           
                              <br>
                              <button class="prev" style="background-color: gray; color:#e9ecef; height: 40px; width: 100px; text-align: center; border-radius: 30px;" type="button">Précedent</button>
                              <button class="next btn-primary" style="height: 40px; width: 100px; text-align: center; border-radius: 30px;" type="button">Suivant</button>
                        </div>

                        <div class="page" id="page3">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="recipient-km" class="col-form-label">Kilometrage:</label>
                                <input type="text" class="form-control" name="kilometrage" id="recipient-km">
                              </div>
                            </div>

                          <div class="col-md-6">
                              <div class="form-group">
                               <label for="recipient-date" class="col-form-label">Date mise en circuit:</label>
                               <input type="date" class="form-control" name="dateMiseEnCirc" id="recipient-date">
                             </div>
                          </div>
                               
                          <div class="md-3">
                            <div class="form-group">
                             <label for="recipient-prixj" class="col-form-label">Prix journalier:</label>
                             <input type="text" onkeypress="return onlyNumberKey(event)" class="form-control" name="prixJ" placeholder="prix en Ar" id="recipient-prixj">
                            </div>
                          </div>  
                        </div>
                            <br>
                            <button class="prev" style="background-color: gray; color:#e9ecef; height: 40px; width: 100px; text-align: center; border-radius: 30px;" type="button">Précedent</button>
                            <button class="next btn-primary" style="height: 40px; width: 100px; text-align: center; border-radius: 30px;" type="button">Suivant</button>
                         
                        </div>  
                        <div class="page" id="page4">
                                <div class="row">  
                                    <div class="card-body" style="background-color: rgb(251, 244, 244);">
                                        <div class="mb-3">
                                            <h1 for="message-text" class="col-form-label"><strong>Condition d'utilisation</strong></h1>
                                            <p> 
                                                Vous devez nous fournir, avec justificatifs, tous les renseignements indispensables
                                             à l’établissement de votre contrat et notamment : votre identité, votre adresse,
                                             la catégorie et la date de délivrance de votre permis de conduire,
                                             le moyen de paiement de votre location tel qu’indiqué.
                                             Tout conducteur doit être âgé d’au moins 21 ans et titulaire d’un permis de conduire,
                                             en cours de validité, depuis au moins 12 mois et correspondant
                                             à la catégorie du véhicule loué.
                                             Par dérogation à ce qui précède, la location de véhicules
                                             de catégorie A et B est également autorisée pour tout conducteur
                                             âgé d’au moins 18 ans et titulaire depuis au moins un jour franc d’un permis
                                             de conduire, en cours de validité, obtenu dans le cadre e l’apprentissage anticipée
                                             de conduite et le justifiant ( notamment par la présentation de son livret de conduite
                                             accompagnée).
                                            </p> 
                                         </div>
                                         <label for="">Accepter</label><input type="checkbox" id="termsChkbx" onchange="document.getElementById('sub1').disabled =! this.checked;" name="condition" value="Accepter" style="margin-left: 1rem;" class="form-check-input">
                                    </div>
                                </div>
                                <br>
                                <button class="prev" style="background-color: gray; color:#e9ecef; height: 40px; width: 100px; text-align: center; border-radius: 30px;" type="button">Précedent</button>
                                <button type="submit" class="btn btn-primary" id="sub1" style="border-radius: 30px;" disabled="disabled">Valider</button>
                        </div>
                    </form>
                 </div>
             </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block javascripts %}
<script>
    //on va chercher les differents élements de notre page
      const pages = document.querySelectorAll(".page")
      const header = document.querySelector(".card-header")
      const nbPages = pages.length //nombre des pages du formulaire

      let pageActive = 1

      //on attend le chargement de la page
      window.onload = () =>{
        //on affiche la 1er page du formulaire
        document.querySelector(".page").style.display = "initial"

        //afficher les numéro de page dans l'entete
        //on parcours la liste des pages
        pages.forEach((page, index) =>  {
          //on crée l'élement "numero de page"
          let element = document.createElement("div")
          element.classList.add("page-num")
          element.id = "num" + (index + 1)
          if(pageActive === index + 1){
            element.classList.add("active")
          }
          element.innerHTML = index + 1
          header.appendChild(element)

        })

        //On gere les bouton "suivant"
        let boutons = document.querySelectorAll(".next")
        for(let bouton of boutons){
          bouton.addEventListener("click", pageSuivante)
        }

        //On gere les bouton "precedente"
        boutons = document.querySelectorAll(".prev")
        for(let bouton of boutons){
          bouton.addEventListener("click", pagePrecedente)
        }
      }
      /*
        Cette fonction fait avancer le formulaire d'une page
      */
     function pageSuivante(){
     
      //on masque toute les pages
      for(let page of pages){
        page.style.display = "none"
      }

      //on affiche la page suivante
      this.parentElement.nextElementSibling.style.display = "initial"

      //on "desactive" tous la pages active 
      document.querySelector(".active").classList.remove("active")
      
       //on incremente page active
       pageActive++
      
       //on active le nouveau numéro
       document.querySelector("#num"+pageActive).classList.add("active")
     }

     /*
        Cette fonction fait reculer le formulaire d'une page
      */
      function pagePrecedente(){
     
     //on masque toute les pages
     for(let page of pages){
       page.style.display = "none"
     }

     //on affiche la page suivante
     this.parentElement.previousElementSibling.style.display = "initial"

     //on "desactive" tous la pages active 
     document.querySelector(".active").classList.remove("active")
     
      //on incremente page active
      pageActive--
     
      //on active le nouveau numéro
      document.querySelector("#num"+pageActive).classList.add("active")
    }
</script>
<script type="text/javascript" >
    // L'image img#image
    var image = document.getElementById("image");
     
    // La fonction previewPicture
    var previewPicture  = function (e) {
  
        // e.files contient un objet FileList
        const [picture] = e.files
  
        // "picture" est un objet File
        if (picture) {
            // On change l'URL de l'image
            image.src = URL.createObjectURL(picture)
        }
    } 
  </script>
  <script>
    function onlyNumberKey(evt) {
           
           // Only ASCII character in that range allowed
           var ASCIICode = (evt.which) ? evt.which : evt.keyCode
           if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
              return false;
           return true;
        }
  </script>
{% endblock javascripts %}