{% extends 'client/loueur/layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

{% include 'client/loueur/includes/sidenav.html' %}

<div class="main-content" id="panel">
  {% include "client/loueur/includes/navigation.html" %}
    <div class="header pb-6 d-flex align-items-center" 
        style="min-height: 500px; background-image: url(/static/assets/img/theme/arieurProfile.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white"> 
              Bienvenue {{ request.user.username }}
            </h1>
            <p class="text-white mt-0 mb-5">Ceci est votre page de profil, vous pouvez toujour faire des mise à jours quand vous voullez!</p>
            
            {% if user_form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endif %}

          </div>
        </div>
      </div>
    </div>
    
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="../../../../static/assets/img/theme/fond_profile.jpg" alt="Image placeholder" style="height: 15rem;" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ user.profile.avatar.url }}" class="rounded-circle">
                  </a>
                </div>
                
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">

                  </div>
                </div>
              </div>
              <div class="text-center">
                <h5 class="h3">
                  {{ request.user.username }}
                </h5>
                <div class="h5 font-weight-300">
                  {{ request.user.email }}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution rapide - Vente en ligne
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>Votre informations seront bien sécuriser
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Edit profile </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Information Loueur</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Nom d'utilisateur</label>
                        {{ user_form.username }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Adresse Email</label>
                        {{ user_form.email }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Nom</label>
                        {{ user_form.first_name }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Prénom</label>
                        {{ user_form.last_name }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <span class="btn btn-info btn-file">
                          Choisir l'image {{ profile_form.avatar }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Autre information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">Ville</label>
                        {{ profile_form.ville }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Numero telephone</label>
                        {{ profile_form.tel }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Cin</label>
                        {{ profile_form.cins }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Code postal</label>
                        {{ profile_form.cd_poste }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Nationalité</label>
                        {{ profile_form.nation }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">sex</label>
                        {{ profile_form.sex }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Numero Premis</label>
                        {{ profile_form.num_permis }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Adresse</label>
                        {{ profile_form.adresse }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Date de naissance</label>
                        {{ profile_form.date_nais }}
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <button type="submit" class="btn btn-primary">Changer Profile</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% include "client/loueur/includes/footer.html" %}

    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
